.container {
  background-color: #f5f6f8;
  width: 600px;
  padding: 10px
}

.replyButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.answerButton {
  background-color: skyblue;
  border-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.chatbotTextContainer {
  display: flex;
  align-items:center,
}
.chatbotTextWrapper {
  margin-left: 10px;
}

.chatbotText {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.choice {
  display: flex;
  align-items: center;
}

.radioButton {
  width: 40px;
  height: 40px;
}