.container {
  background-color: white;
  width: 600px;
  height: 900px;
  padding: 10px;
  overflow: scroll;
  border-radius: 10px;
}

.replyButtonWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px rgb(240, 240, 240);
}


.answerButton {
  background-color: skyblue;
  border-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.chatbotTextContainer {
  display: flex;
  align-items:center,
}
.chatbotTextWrapper {
  margin-left: 10px;
}

.chatbotText {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(240, 240, 240);
}

.choice {
  display: flex;
  align-items: center;
}

.radioButton {
  width: 40px;
  height: 40px;
}