.container::-webkit-scrollbar{
  display: none;
}

.replyButtonWrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: flex-end;
}


.answerButton {
  background-color: skyblue;
  border-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.chatbotTextContainer {
  display: flex;
  align-items: flex-end,
}
.chatbotTextWrapper {
  margin-left: 10px;
}

.chatbotText {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(240, 240, 240);
}

.choice {
  display: flex;
  align-items: center;
}

.radioButton {
  width: 40px;
  height: 40px;
}