.choice {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom:10px;
}

.inputWrapper {
  margin-right: 10px;
}

.input {
  width: 25px;
  height:25px;
}